*.sfc
*.pyc
*.odt
*.sym

TO_DO.txt
fe5trans.ups
labels.txt
log.txt


tools/Assembler/syntax/
tools/Assembler/*.exe
tools/Assembler/*.0
tools/Assembler/*.1
tools/Assembler/*.pdf
tools/Assembler/*.html

tools/BSNES Max/bsxdat/
tools/BSNES Max/platforms/
tools/BSNES Max/Saves/
tools/BSNES Max/styles/
tools/BSNES Max/*.exe
tools/BSNES Max/*.txt
tools/BSNES Max/*.dll

tools/IpsAndSum/*.exe

tools/FE5 Map Editor/*.jar
tools/FE5 Map Editor/*.txt

tools/Lunar Address/*.exe

tools/Lunar Expand/*.exe
tools/Lunar Expand/*.txt

tools/FLIPS/*.exe

tools/SnesGFX/*.exe
tools/SnesGFX/*.txt
tools/SnesGFX/*.config

tools/Tileset Editor/ini/
tools/Tileset Editor/*.exe

tools/Usenti/*.txt
tools/Usenti/*.exe
tools/Usenti/*.chm
tools/Usenti/*.pal

tools/YY-CHR/yychr.dat
tools/YY-CHR/*.adf
tools/YY-CHR/*.chr
tools/YY-CHR/*.enu
tools/YY-CHR/*.exe
tools/YY-CHR/*.fra
tools/YY-CHR/*.ini
tools/YY-CHR/*.pal